@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    width: 100vh;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(220, 220, 220);

}

.text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 300px;
    position: absolute;
    margin: -150px 0 0 -300px;
    top: 50%;
    left: 50%;
}

.text p {
    font-size: 30px;
    padding: 0;
    position: relative;
    font-family: 'Amatic SC', cursive;
}



.img {
    position: absolute;
    height: 20%;
    width: auto;
    z-index: 1;
}

.a{
    top: 50%;
    left: 50%;
}

.img1 {
    top: 5%;
    left: 53%;
    
animation: circle1 30s linear infinite;
}

.img2 {
    top: 3%;
    left: 5%;
    animation: circle2 30s linear infinite;

}
.img8 {
    
    height: 50px;
    width: 100px;
    margin-top: 50px;
    margin-right: 300px;
}

.img9 {
    
    height: 50px;
    width: 100px;
    margin-left: 600px;
    margin-top: 50px;
}
.img3 {
    top: -5%;
    left: 30%;
    
animation: circle3 40s linear infinite;

}

.links {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    background-image: url(images/istockphoto-586058260-170667a.png);
    color: black;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 450px;
    margin-top: 50px;
    
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }

  



  
  

.links a {
    margin-top: 480px;
    
    margin-left: 350px;
}

.links2 {
    display: flex;
    justify-content: center;
}

.links2 p {
    margin-top: 500px;
    
    margin-left: 400px;
}


.img4 {
    left: 80%;
    top: -5%;
    
animation: circle4 50s linear infinite;

}

.img5 {
    left: 5%;
    top: 70%;
    
animation: circle5 70s linear infinite;

}

.img6 {
    left: 90%;
    top: 40%;
    
animation: circle6 30s linear infinite;

}

.img7 {
    top: 80%;
    left: 60%;
    
animation: circle7 50s linear infinite;

}


@keyframes circle1 {
    from {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }
}

@keyframes circle2 {
    from {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }

    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle3 {
    from {
        transform: rotate(360deg) translate(-30px) rotate(-360deg);
    }

    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle4 {
    from {
        transform: rotate(360deg) translate(-60px) rotate(-360deg);
    }

    to {
        transform: rotate(0deg) translate(-60px) rotate(0deg);
    }
}

@keyframes circle5 {
    from {
        transform: rotate(360deg) translate(-80px) rotate(-360deg);
    }

    to {
        transform: rotate(0deg) translate(-80px) rotate(0deg);
    }
}

@keyframes circle6 {
    from {
        transform: rotate(-360deg) translate(-30px) rotate(360deg);
    }

    to {
        transform: rotate(0deg) translate(-30px) rotate(0deg);
    }
}

@keyframes circle7 {
    from {
        transform: rotate(360deg) translate(-50px) rotate(-360deg);
    }

    to {
        transform: rotate(0deg) translate(-50px) rotate(0deg);
    }
}